<h2><%= @idea.title %></h2>
<p><%= @idea.body %></p>

<h2>Comments</h2>
<% @idea.comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <%= button_to "Delete", idea_comment_path(@idea, comment), method: :delete, data: {confirm: "Are you sure?"} %>
    <% if comment.user.present? %>
      <p>Comment by: <%= comment.user.name_display %></p>
    <% end %>
  </p>
  <hr>
<% end %>

<hr>
<h2>Submit a comment</h2>
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @comment, url: idea_comments_path(@idea) do |f| %>
  <%= f.text_area :body, placeholder: "Put your comment here" %>
  <br>
  <%= f.submit "Submit Comment" %> 
<% end %>

<p>Joined: <%= @idea.joins.count %> times</p>
<% if @join %>
  <%= link_to "Joined", idea_join_path(@idea, @join), method: :delete %>
<% else %>
  <%= link_to "Join", idea_joins_path(@idea), method: :post %>
<% end %>

<p>Liked: <%= @idea.likes.count %> times</p>
<% if @like %>
  <%= link_to "Liked", idea_like_path(@idea, @like), method: :delete %>
<% else %>
  <%= link_to "Like", idea_likes_path(@idea), method: :post %>
<% end %>
